body {  
	background-color: #e6f2ff;
	font-family: "Arial";
}

/* removes default padding on the whole page */
ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	background-color: #e6f2ff;
	float: right;
}

/* style to make navigation bar horizontal */
li {
	display: inline
}

/*styling of the text inside the boxes */
li a {
	display:block
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
}

/* clear stuff */
.div1 {
	clear: right;
}