body {  
	background-color: #e6f2ff;
	font-family: "Arial";
}

/* removes default padding on the whole page */
ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	background-color: #e6f2ff;
	float: right;
    margin-bottom: 25px;
}

/* style to make navigation bar horizontal */
li {
	display: inline
}

/*styling of the text inside the boxes */
li a {
	display:block
	text-align: center;
	padding: 100px 2px;
	text-decoration: none;
	opacity: .25;
}

/* clear stuff */
.div1 {
	clear: right;
}

h1 {
    font-weight: bold;
	line-height: .5em;
}


