body {
	font-family: Helvetica;
}

div.container {
	width: 100%;
	border: 1px white;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: blue;
	clear: left;
	text-align: center;
}

nav {
	float: left;
	max-width: 160px;
	margin: 0;
    padding: 5px;
    width: 200px;
    height: 400px;
    background-color: #f1f1f1;
}

nav ul {
	list-style-type: none;
	padding: 0px;
}

nav ul a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 8px 16px;
    width: 133px;
}

nav ul a:hover {
    background-color: #555;
    color: white;
}

article {
	margin-left: 150px;
	border-left: 1px white;
	padding: 1em;
	overflow: hidden;

}